.masthead {
  height: 100vh;
  min-height: 500px;
  background-color: #e3e3e4;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroud-color-fond {
  background-color: #e3e3e4;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
